<div align="center">
	<%= image_tag 'IMGS/logo.png', title: "Paisesoft" %>
</div>

<br>

<div id="titulo" class="animated pulse">
  Sobre o Paisesoft
</div>

<p> O sistema está em fase Beta. </p>
<p> Desenvolvido por João Paulo S. Farias </p>